<nav class="grey lighten-5">
  <div class="nav-wrapper valign-wrapper">
    <a href="https://e-move.com.ua" class="brand-logo center">
      <img src="https://e-move.com.ua/wp-content/uploads/2015/12/LOGO.png" alt="E-move" class="logo-img">
    </a>
  </div>
</nav>

<div class="container">
  <h3 class="center-align">E-move HTML product tab generator</h3>
<!-- 
  <div class="input-field">
    <textarea
      id="textarea1"
      class="materialize-textarea z-depth-3"
      [(ngModel)]="jsonInput">
    </textarea>
    <label for="textarea1">JSON file contents</label>
  </div> -->

  <!-- <div class="row">
    <div class="col s6 center-align">
      <button
        class="btn btn-large waves-effect waves-light"
        type="button"
        (click)="parseSpecificationsData()"
        [disabled]="!jsonInput"
        [ngClass]="{disabled: !jsonInput}">
        Generate specifications tab
        <i class="material-icons right">slideshow</i>
      </button>
    </div>

    <div class="col s6 center-align">
      <button
        class="btn btn-large waves-effect waves-light"
        type="button"
        (click)="parsePricesData()"
        [disabled]="!jsonInput"
        [ngClass]="{disabled: !jsonInput}">
        Generate prices tab
        <i class="material-icons right">slideshow</i>
      </button>
    </div>
  </div> -->

  <!-- <div class="row">
    <div class="col s6 center-align">
      <button
        class="btn waves-effect waves-light  lime darken-3"
        type="button"
        (click)="insertTestSpecificationsJson()">
        Example Specifications JSON
        <i class="material-icons right">content_paste</i>
      </button>
    </div>

    <div class="col s6 center-align">
      <button
        class="btn waves-effect waves-light  lime darken-3"
        type="button"
        (click)="insertTestPricesJson()">
        Example Prices JSON
        <i class="material-icons right">content_paste</i>
      </button>
    </div>
  </div> -->


  <form #formRef="ngForm">
    <ng-container *ngFor="let specification of specificationsModel; let k = index">
      <div class="input-field">
        <input
          type="text"
          id="specification-{{k}}"
          class="active"
          [(ngModel)]="specificationsModel[k].label"
          name="specification-{{k}}"
          placeholder="Назва комплектації">
        <label for="specification-{{k}}">Назва комплектації</label>
      </div>
      <div
        class="row spec-item">
        <div *ngFor="let characteristic of specificationsModel[k].characteristics; let i = index;" class="col s3">
          <div class="card-panel grey lighten-2">
            <h3>{{characteristic.header}}</h3>
            <div *ngFor="let value of specificationsModel[k].characteristics[i].values; let y = index" class="input-field">
              <input
                type="text"
                id="characteristic-{{k}}-{{i}}-{{y}}"
                [(ngModel)]="specificationsModel[k].characteristics[i].values[y].value"
                name="value-{{k}}-{{i}}-{{y}}"
                placeholder="{{characteristic.values[y].label}}">
              <label for="characteristic-{{k}}-{{i}}-{{y}}" class="active">{{characteristic.values[y].label}}</label>
            </div>
          </div>
        </div>
      </div>
    </ng-container>
  </form>

  <hr>

  <div class="row">
    <div class="col s12 center-align">
      <button
        class="btn-floating btn-large waves-effect waves-light green darken-1"
        type="button"
        (click)="addSpecification()">
        <i class="material-icons right">add</i>
      </button>
    </div>
  </div>

  <div class="card-panel  grey lighten-2">
    <div class="row">
      <div class="col s6 center-align">
        <button
          class="btn btn-large waves-effect waves-light  amber accent-3"
          type="button"
          (click)="showFormSpecificationPreview()">
          Show preview
          <i class="material-icons right">add</i>
        </button>
      </div>

      <div class="col s6 center-align">
        <button
          class="btn btn-large waves-effect waves-light  amber accent-3"
          type="button"
          (click)="createHtml()">
          Get HTML
          <i class="material-icons right">web</i>
        </button>
      </div>
    </div>
  </div>

  <!-- <div class="row" *ngIf="specificationsData || pricesData">
    <div class="col s12 center-align">
      <button
        class="btn btn-large waves-effect waves-light  purple darken-1"
        type="button"
        (click)="createHtml()">
        Get HTML
        <i class="material-icons right">web</i>
      </button>
    </div>
  </div> -->

  <div class="row" [hidden]="!isCodeShown">
    <div class="col s6 offset-s3">
      <div class="card hoverable">
        <div class="card-image">
          <img src="assets/img/html.png" alt="HTML">
          <span class="card-title">Copy HTML code</span>
          <a class="btn-floating halfway-fab waves-effect waves-light green darken-2" (click)="copyText()">
            <i class="material-icons">content_copy</i>
          </a>
        </div>
        <div class="card-content">
          <p id="print-container1" class="code-container"></p>
        </div>
        <div class="card-action">
          <a (click)="copyText()">Copy</a>
        </div>
      </div>
    </div>
  </div>

  <h2 *ngIf="specificationsData">Характеристики</h2>
  <div #specificationsHtml>
    <div *ngIf="specificationsData">
      <div class="tab-header-container">
        <h2 class="title-2">Характеристики комплектацій:</h2>
        <ul class="model-labels tab-labels" data-tab-group="model-sheet">
          <li *ngFor="let specification of specificationsData.specifications" class="model-label tab-label">
            <a class="text-3" href="#" [attr.data-tab]="specification.dataTab">{{specification.label}}</a>
          </li>
        </ul>
      </div>

      <div class="model-sheet" [ngClass]="specification.dataTab" *ngFor="let specification of specificationsData.specifications">
        <div class="table-container" *ngFor="let characteristic of specification.characteristics">
          <h3 class="text-1">{{characteristic.header}}</h3>
          <div class="characteristics">
            <ng-container *ngFor="let characteristicObj of characteristic.values">
              <p *ngIf="characteristicObj.value">
                <span>{{characteristicObj.label}}</span>
                <br>
                <span>{{characteristicObj.value}}</span>
              </p>
            </ng-container>
          </div>
        </div>
      </div>
    </div>
  </div>

  <h2 *ngIf="pricesData">Ціни на автомобіль</h2>
  <div #pricesHtml>
    <div *ngIf="pricesData">
      <div class="car-block" *ngFor="let car of pricesData.cars">
          <div class="img-wrapper">
            <div class="car-label car-label-{{car.statusClass}}">{{car.statusLabel}}</div>
              <p>
                <img [src]="car.image" [alt]="car.imageAlt">
              </p>
            </div>
          <div class="descr-wrapper">
            <h2 class="title-2">{{car.header}} <span>{{car.subheader}}</span></h2>
            <div class="tables-wrapper">
            <table class="short-char">
              <tbody>
                <tr>
                  <td><span class="text-6">Рік:</span></td>
                  <td><span class="text-4">{{car.year}}</span></td>
                </tr>
                <tr>
                  <td><span class="text-6">Пробіг:</span></td>
                  <td><span class="text-4">{{car.mileage}}</span></td>
                </tr>
              </tbody>
            </table>

            <table class="short-char">
              <tbody>
                <tr>
                  <td><span class="text-6">Місто:</span></td>
                  <td><span class="text-4">{{car.city}}</span></td>
                </tr>
                <tr>
                  <td><span class="text-6">Запас ходу:</span></td>
                  <td><span class="text-4">{{car.powerReserve}}</span></td>
                </tr>
              </tbody>
            </table>
          </div>

          <p>{{car.description}}</p>
        </div>

        <div class="price-wrapper">
          <table class="price-table">
            <tbody>
              <tr>
                <td><span>Дилер:</span></td>
                <td><a href="{{car.dealerLink}}">{{car.dealerName}}</a></td>
              </tr>
              <tr>
                <td><span>Ціна:</span></td>
                <td><span class="price">{{car.price}}</span></td>
              </tr>
            </tbody>
          </table>

          <div class="buttons-block">
            <button class="write">
              <i class="fa fa-comment"></i>
            </button>
            <button class="call">
              <i class="fa fa-phone"></i>
            </button>
          </div>
          <p></p>
        </div>
      </div>
    </div>
  </div>

  <div class="row" *ngIf="specificationsData || pricesData">
    <div class="col s12 center-align">
      <button
        class="btn btn-large waves-effect waves-light  green darken-1"
        type="button"
        (click)="createHtml()">
        Get HTML
        <i class="material-icons right">web</i>
      </button>
    </div>
  </div>

  <div class="row" [hidden]="!isCodeShown">
    <div class="col s6 offset-s3">
      <div class="card hoverable">
        <div class="card-image">
          <img src="assets/img/html.png" alt="HTML">
          <span class="card-title">Copy HTML code</span>
          <a class="btn-floating halfway-fab waves-effect waves-light green darken-2" (click)="copyText()">
            <i class="material-icons">content_copy</i>
          </a>
        </div>
        <div class="card-content">
          <p id="print-container2" class="code-container"></p>
        </div>
        <div class="card-action">
          <a (click)="copyText()">Copy</a>
        </div>
      </div>
    </div>
  </div>

</div>


<footer class="page-footer grey darken-4">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">Footer Content</h5>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
    © 2018 E-move
    </div>
  </div>
</footer>
