::-webkit-input-placeholder {
  font-size: 12px;
}
::-moz-placeholder {
  font-size: 12px;
}
:-ms-input-placeholder {
  font-size: 12px;
}
:-moz-placeholder {
  font-size: 12px;
}

.logo-img {
  padding-top: 15px;
  height: 50px;
}

.code-container {
  max-height: 150px;
  overflow-y: scroll;
}

@media only screen and (min-width: 993px) {
  .container {
    width: 100%;
		max-width: 1200px;
		margin: 0 auto
  }
}


.model-sheet {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin-top: 15px;
}

.table-container {
	margin-bottom: 25px;
	width: 49%;
}

.table-container h3 {
	padding-left: 20px;
}

.characteristics {
	padding: 0 8px;
	border-radius: 2px;
	background-color: #fff;
	box-shadow: 0px 12px 40px 0 rgba(175, 175, 175, 0.1);
}

.characteristics p {
	display: flex;
	margin: 0;
	padding: 2px 0;
	border-bottom: 1px solid #e4e4e4;
	line-height: 45px;
	cursor: pointer;
}

.characteristics p:last-child {
	border-bottom: none;
}

.characteristics span {
	flex-grow: 1;
	font-family: "Exo2";
}

.characteristics p:hover span {
	background-color: #f6f6f6;
}

.characteristics span:first-child {
	position: relative;
	padding-left: 13px;
	font-size: 16px;
	text-align: left;
	color: #85888e;
}

.characteristics span:last-child {
	padding-right: 9px;
	font-size: 18px;
	text-align: right;
	color: #162033;
}

.characteristics p:hover span:first-child::before {
	content: "";
	position: absolute;
	top: 0;
	left: -8px;
	width: 10px;
	height: 100%;
	border-left: 2px solid #ffbc00;
	background-color: #f6f6f6;
}

.text-1 {
  font-family: "Exo2";
  font-size: 22px;
  font-weight: 500;
  color: #414653;
}

.title-2 {
  margin: 0;
  line-height: 34px;
  font-family: Oswald;
  font-size: 34px;
  font-weight: bold;
  color: #162033;
}

.text-block {
	margin-bottom: 50px;
}

.text-block h2 {
	margin-bottom: 20px;
}

.text-block p {
	margin-bottom: 20px;
	line-height: 20px;
	font-family: "Exo2";
	font-size: 16px;
	color: #414653;
}

.text-block ul {
	margin-left: 17px;
}

.text-block li {
	margin-bottom: 15px;
	line-height: 20px;
	color: #ffbc00;
}

.text-block li span {
	font-family: "Exo2";
	font-size: 16px;
	color: #414653;
}

.text-block.text-block-two-columns {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.text-block-two-columns .text-wrapper {
	padding-right: 0.6%;
  width: 48.4%;
}


.tab-header-container {
	display: flex;
	align-items: flex-end;
	flex-wrap: wrap;
	justify-content: space-between;
}

.tab-header-container h2::after {
	content: "";
	display: inline-block;
	margin-left: 15px;
	width: 165px;
	height: 1px;
	background-color: #dcdcdc;
}

.model-labels {
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
}

.model-label {
	margin-right: 20px;
}

.model-label:last-child {
	margin-right: 0;
}

.model-label a {
  padding: 0 25px;
  border-bottom: 4px solid #dcdcdc;
  line-height: 50px;
  font-style: normal;
  color: #181818;
  text-decoration: none;
}

.model-label.active a {
  border-bottom: 4px solid #ffbc00;
  background-color: #fff;
}

.tab-labels {
  list-style: none;
  margin: 0;
  padding: 0;
}

.tab-label a:hover {
  color: #6b6a6b;
}


.car-block {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	margin-bottom: 15px;
	padding: 10px;
	border-radius: 2px;
	background-color: #fff;
	transition: box-shadow .2s linear;
}

.car-block:hover {
	box-shadow: 0px 10px 20px 0 rgba(214, 214, 214, 0.4);
}

.car-block .img-wrapper {
	position: relative;
	margin-right: 20px;
	border: solid 1px #ececec;
}

.car-block .img-wrapper img {
	max-width: 310px;
}

.car-label {
	position: absolute;
	top: 11px;
	left: -16px;
	padding: 2px 10px;
	font-family: "Exo2";
	font-size: 14px;
	font-weight: bold;
	color: #fff;
}

.car-label::before {
	content: "";
	position: absolute;
	left: -5px;
	bottom: -5px;
	width: 10px;
	height: 5px;
	border-right: 5px solid;
	border-bottom: 5px solid transparent;
}

.car-label-available {
	background-color: #23b959;
	box-shadow: -2.5px 4.3px 12px 0 rgba(60, 190, 106, 0.3);
}

.car-label-available::before {
	border-right-color: #189444;
}

.car-label-waiting {
	background-color: #2989cc;
	box-shadow: -2.5px 4.3px 12px 0 rgba(41, 137, 204, 0.3);
}

.car-label-waiting::before {
	border-right-color: #126097;
}

.car-label-for-order {
	background-color: #ffbc00;
	box-shadow: -2.5px 4.3px 12px 0 rgba(255, 188, 0, 0.3);
}

.car-label-for-order::before {
	border-right-color: #cd9c12;
}

.descr-wrapper {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	padding: 10px;
}

.descr-wrapper::after {
	content: "";
	position: absolute;
	top: 50%;
	right: -3px;
	width: 2px;
	height: calc(100% - 20px);
	background-color: #cacaca;
	opacity: 0.5;
	transform: translateY(-50%);
}

.descr-wrapper h2 span {
	font-family: "Exo2";
	font-size: 20px;
	font-weight: normal;
}

.tables-wrapper {
	display: flex;
}

.short-char {
	margin: 0 20px 20px 0;
	width: 48%;
	border: none;
}

.short-char td {
	padding: 0;
	border: none;
	border-bottom: 1px dotted rgba(0,0,0,0.2);
}

.short-char td:last-child {
	text-align: right;
}

.short-char td span {
	position: relative;
	top: 11px;
	background-color: white;
}

.short-char td:last-child span {
	padding-left: 5px;
}

.descr-wrapper p {
	margin-bottom: 0;
	max-width: 515px;
	line-height: 18px;
	font-family: "Exo2";
	font-size: 15px;
	color: #5a5d67;
}

.price-wrapper {
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	padding: 10px;
}

.price-table {
	border: none;
}

.price-table td {
	padding: 0;
	border: none;
	border-bottom: 1px dotted rgba(0,0,0,0.2);
	vertical-align: bottom;
}

.price-table td:first-child {
	font-family: "Exo2";
	font-size: 15px;
	color: rgba(22, 32, 51, 0.7);
}

.price-table td:last-child {
	text-align: right;
}

.price-table td a {
	font-family: "Exo2";
	font-size: 18px;
	font-weight: 500;
	text-align: right;
	color: #3d7ee5;
}

.price-table td a:hover {
	text-decoration: none;
}

.price-table td span,
.price-table td a {
	position: relative;
	top: 8px;
	background-color: #fff;
}

.price-table td:first-child span {
	padding-right: 7px;
}

.price-table td:last-child a,
.price-table td:last-child span {
	padding-left: 7px;
}

.car-block .price {
	font-family: Oswald;
	font-size: 28px;
	font-weight: bold;
	color: #1f5dcf;
}

.car-block .price-table td .price {
	top: 13px;
}

.price-wrapper button {
	padding: 9px 33px;
	border: 2px solid #ffbc00;
	font-size: 23px;
	color: #162033;
	transition: all .2s linear;
}

.price-wrapper button.write {
	margin-right: 10px;
	background-color: #fff;
}

.price-wrapper button.write:hover {
	color: #ffbc00;
}

.price-wrapper button.call:hover {
	color: #fff;
}

/* .spec-item{
	border-bottom: 2px solid #ccc;
} */