@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

body{
  background: #f5f5f5;
}

table {
  margin: 0 0 1.78571em;
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
}

textarea.materialize-textarea {
  height: 15rem;
  max-height: 15rem;
  overflow-y: scroll;
}
html, body { height: 100%; }
body { margin: 0; font-family: 'Roboto', sans-serif; }
form {
  max-width: 100%;
  min-width: 100%;
}
